<?xml version="1.0" encoding="utf-8" ?>
<!-- 
///////////////////////////////////////////////////////////////
// App.config - Calculator service configuration file        //
//                                                           //
// Jim Fawcett, CSE775 - Distributed Objects, Spring 2008    //
///////////////////////////////////////////////////////////////
/*
 * Based on Microsoft WCF Samples
 * http://msdn2.microsoft.com/en-us/library/ms751514.aspx
 * 
 */
-->
<configuration>
  
  <system.serviceModel>
    <services>
      <service 
          name="Calculator.CalculatorService"
          behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Calculator/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/Calculator/service  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Calculator.ICalculator" />
        <!-- the mex endpoint is exposed at http://localhost:8000/Calculator/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
