<?xml version="1.0" encoding="utf-8" ?>
<!-- 
///////////////////////////////////////////////////////////////
// App.config - client configuration file                    //
//                                                           //
// Jim Fawcett, CSE775 - Distributed Objects, Spring 2008    //
///////////////////////////////////////////////////////////////
/*
 * Based on Microsoft WCF Samples
 * http://msdn2.microsoft.com/en-us/library/ms751514.aspx
 * 
 */
-->
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name=""
                address="http://localhost:8000/Calculator/service" 
                binding="wsHttpBinding" 
                contract="Calculator.ICalculator">
      </endpoint>
    </client>

  </system.serviceModel>

</configuration>
